html {
	background: url(images/Style.gif) no-repeat center center fixed, url(images/StyleTS.gif) no-repeat center center fixed;
	-webkit-background-size: 60%, cover;
	-moz-background-size: 60%, cover;
	-o-background-size: 60%, cover;
	background-size: 60%, cover;
}